body {
    text-align: center;
    font-family: 'merriweather', serif;
    margin: 0;
    
}

/* general stuff */

.top-container {
    background-color: #e4f9f5;
    padding: 50px;
}
.mountain {
    display: block;
    width: 100%;
}
 

.initial-padding {
    padding: 90px 15px;

}

hr {
    border: 8px dotted #66bfbf;
    width: 5%;
    border-bottom: none;
}

h1 {
    font-family: 'Sacramento', serif;
    font-size: 4rem;
    color: #66bfbf;

}
.name{
   
    letter-spacing: 1;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-size: 2.5rem;

}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

p {
    line-height: 2;
}

.top-cloud {
    position: absolute;
    left: 60%;
    top: 1%;
}


.buttom-cloud {
    position: absolute;
    left: 10%;

}
.middle-container{
    padding: 15px;
}

.middle-container img{
width: 266px;
margin: auto;
}

/* for the images in the second container */
.skill-row {
    width: 60%;
    display: flex;
    flex-direction:row;
     margin: 0 auto;
    text-align: left;
    column-gap: 50px;
    padding: 30px;
}
.image{
    width: 155px;
 margin: auto;

}
.adjustedimage{
    order: 1;
}




.hr {
    border: 8px #66bfbf dotted;
    border-bottom: none;
    width: 5%;


}

.button {
    background-color: aqua;
    padding: 15px 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom:50px ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;

}



.contact a:hover{ 
    background-color:rgb(21, 172, 199);

}

.foot {
    background-color: rgb(8, 139, 190);
  padding: 30px 0px 10px ;
 
 
  

}

.foot a{
    font-size: 25px;
    text-decoration: none;
    margin: 60px 40px;
   color: white;
    
}
.foot p{
 color: #66bfbf ;
}
.contact {
    width: 60%;
    margin: auto;
    font-size: 1.2rem;


}






/* medium devices; media query--tablets 820px */
@media screen and(max-width:51.25rem) {
    
   
     

    .intro {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 25px;
    }

    .skill-row{
        display: flex;
        flex-direction:column;
        width: 80%;
        text-align: center;
        font-size: 25px;

    }

    .image,
    .image {
        width: 27%;
        margin:auto
        }

        .adjustedimage{
            order: 0;
        }

    .contact {
        width: 80%;
        margin: auto;
        font-size: 25px;


    }


}

/* devices of about 609px */
@media screen and(max-width:38.06rem) {

    .foot a { font-size: 20px;
        margin: 10px 10px;
    }
    .foot p {
        font-size:15px
    }
    .middle-container img{
        width: 300px;
        margin: auto;
        padding: 8px;
        }
    
}

/* for mobile phone; media query- smartphones& L-smartphones 480 */

@media screen and(max-width: 30rem) {
     .mountain {
        display: block;
        width: 100%;
    }
      .buttom-cloud {
        display: block; 
        width: 30%;
    }
    .contact p {
        font-size: 15px;
        }
   
    .intro {
        width: 80%;   
        font-size: 15px;
    }
    .skill-row p{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
    }
    .foot a{
         margin: 5px 5px;
        }

}

/* for devices of 432px */
@media screen and(max-width:27rem)  {
    .name{
        font-size: 50px;
        }    
}

/* for devices of 400px */
@media screen and(max-width: 21.8rem) {
    /* .top-cloud {
        
       
        left: 30%;
        top: 15rem;
    } */
    
}

/* FOR SMAllPHONE sizes ( 320px ) */
@media screen and(max-width:20rem)
{
  
.middle-container img{
    width: 200px;
    margin: auto;
    padding: 5px;
    }
    .top-cloud {
        position: absolute;
        left: 40%;
        top: 1%;
    }
  
    
    .foot p{
        font-size: 10px;
    }
    .foot a{font-size: 10px;
         margin: 2px 2px;} 

        .skill-row p {
            font-size: 8px;

        }
        .contact p {
            font-size: 10px;
            }
            .contact h1 {
                font-size: 2rem
            }
            h2 {
                font-family: 'Montserrat', sans-serif;
                color: #66bfbf;
                font-size: 1rem;
            
            }
        .intro {
            width: 80%;
            text-align: center;
            margin: 0 auto;
            font-size: 10px;
        }

        .button {
            padding: 5px 5px;
            border-radius: 8px;
            display: inline-block;
            margin-top:20px ;
            font-size: 15px;
            font-family: sans-serif;
        
        }

    
        

}
