body {
    text-align: center;
    font-family: 'merriweather', serif;
    margin: 0;
}

/* general stuff */

.top-container {
    background-color: #e4f9f5;
    padding: 50px;
}

.initial-padding {
    padding: 90px 15px;

}

hr {
    border: 8px dotted #66bfbf;
    width: 5%;
    border-bottom: none;
}

h1 {
    font-family: 'Sacramento', serif;
    font-size: 50px;
    color: #66bfbf;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-size: 1.5rem;

}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;

}

p {
    line-height: 2;
}

.top-cloud {
    position: absolute;
    right: 15%;
    top: 1%;
}


.buttom-cloud {
    position: absolute;

}

.image1,
.image2 {
    width: 20%;


}

.skill-row {
    width: 40%;
    margin: 0 auto;
    display: flex;
    text-align: left;
    column-gap: 50px;
    padding: 30px;


}

.skill-column {
    display: flex;
    flex-direction: row-reverse;

}

.hr {
    border: 8px #66bfbf dotted;
    border-bottom: none;
    width: 5%;


}

.free {
    font-family: "montserrat" serif;
    color: #66bfbf;
}





.button {
    background-color: aqua;
    padding: 15px 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom:50px ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;

}

.contact a:hover{ 
    background-color:rgb(5, 61, 129);

}

.foot {
    background-color: rgb(8, 139, 190);
  padding: 60px 0px 60px ;
 
  

}

.foot a{
    font-size: 25px;
    text-decoration: none;
    margin: 20px 10px;
    
}
.foot p{
 color: #66bfbf ;
}






/* medium devices; media query--tablets 820px */
@media screen and (max-width:51.25rem) {
    
    .img2 {
        width: 60%;
    }

    .intro {
        width: 60%;
        text-align: center;
        margin: 0 auto;
        font-size: 25px;
    }

    .skill-row,
    .skill-row {
        display: flex;
        flex-direction: column;
        width: 80%;
        text-align: center;
        font-size: 25px;

    }

    .image1,
    .image2 {
        margin: auto;
        width: 50%;


    }

    .contact {
        width: 80%;
        margin: auto;
        font-size: 25px;


    }


}

/* for mobile phone; media query- smartphones& L-smartphones 480 */

@media screen and (max-width: 30rem) {
    .mountain {
        display: block;
        width: 100%;
    }



    .buttom-cloud {
        display: block;
        width: 30%;
    }





    .image1,
    .image2 {
        width: 50%;
        margin: auto;
        
    }

    .contact {
        width: 100%;
        margin: 0 auto;
    }

    .contact p{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 22px
    }
   
    .intro {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 23px;
    }
    
    .buttom-container p{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 22px;
    }
    
    


}
